body {
  background-color: black;
  text-align: center;
}


.header--main {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.header--main2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}


.sub--header {
  font-family: Verdana, georgia, sans-serif;
  font-size: 21px;
  color: Gray;
}



a {
  color: Aquamarine;
  font-size: 16px;
}


.copyright {
  text-align: right;
  color: Gray;
  font-family: sans-serif, monospace;
}
