h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}


body {
  background-color: black;
  text-align: center;
}


h3 {
  color: Aquamarine;
  font-size: 16px;
}


.comingsoon {
  text-decoration: underline;
}
