.header--main {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}


body {
  background-color: black;
  text-align: center;
}

a {
  color: Aquamarine;
  text-size: 16px;
}


.sub--header {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
